@base: 1rem;

html { font-size: 100%; }

body {
  color: @text;
  line-height: 1.5rem;
  font-size: 1rem;
  font-family:'Roboto', helvetica, sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4 {
  color: @red;
  font-weight: 400;
  padding: 0 0 @gutter 0;
}

h1 {
  font-size: (@base * 2.5);
  color: @black;
}
h2 { font-size: (@base * 2); }
h3 { font-size: (@base * 1.5); }
h4 { font-size: (@base); }

a {
  cursor: pointer;
  text-decoration: none;
  color: @text;

  &:hover {
    color: @green;
  }
}