@import url(http://postach.io/static/themes/_assets/symbolset/ss-pika.css);
/*---------------------------------------------------
    LESS Elements 0.9.1
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
    MODIFIED BY: Brandon Brown
  ---------------------------------------------------*/
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE7 */
/* used for styling post content in themes */
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.ss-icon {
  position: relative;
  top: 2px;
}
.left {
  float: left;
}
.right {
  float: right;
}
/**
 * Search typeahead styles
 */
.twitter-typeahead {
  width: 100%;
}
.tt-dropdown-menu {
  width: 100%;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.tt-suggestion {
  font-size: 18px;
  line-height: 24px;
  padding: 8px 20px;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #37cca1;
}
.tt-suggestion.tt-cursor a {
  color: #ffffff;
}
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}
.tt-suggestion p {
  margin: 0;
}
.article-title {
  font-weight: bold;
}
.article-title a:hover {
  color: #ffffff;
}
.article-date {
  font-size: 11px;
}
/**
 * Fix socialbar share point
 */
.socialbar-point.socialbar-point-top:after {
  bottom: -4px !important;
}
.socialbar-point.socialbar-point-bottom:after {
  top: -4px !important;
}
/**
 * Module imports
 */
*,
*:before,
*:after {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.container {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 60%;
}
.container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.grid {
  margin: 0 0 50px 0;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
.grid.pad {
  padding: 50px;
}
[class*='col-'] {
  float: left;
  padding-right: 50px;
}
.grid [class*='col-']:last-of-type {
  padding-right: 0;
}
[class*='col-'].centered {
  float: none;
  margin: 0 auto;
}
.grid-pad {
  padding: 50px 0 50px 50px;
}
.grid-pad [class*='col-']:last-of-type {
  padding-right: 50px;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-3-4 {
  width: 75%;
}
.col-1-8 {
  width: 12.5%;
}
html {
  font-size: 100%;
}
body {
  color: #8b8b8b;
  line-height: 1.5rem;
  font-size: 1rem;
  font-family: 'Roboto', helvetica, sans-serif;
  font-weight: 300;
}
h1,
h2,
h3,
h4 {
  color: #f76f4f;
  font-weight: 400;
  padding: 0 0 50px 0;
}
h1 {
  font-size: 2.5rem;
  color: #636363;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #8b8b8b;
}
a:hover {
  color: #37cca1;
}
.rainbow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-image: url(../images/rainbow-bg.png);
  background-repeat: repeat-x;
  background-size: 55%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1000;
}
.site-header {
  background-color: #f8f8f8;
  padding: 50px;
  height: 145px;
}
.site-header:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.logo {
  float: left;
  padding: 0;
  margin: 0;
  width: 217px;
  height: 46px;
}
.logo a {
  display: block;
  width: 211px;
  height: 47px;
  background: url('../images/logo.png') no-repeat top left;
  background-size: 100%;
  overflow: hidden;
}
.logo a span {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
.search {
  position: relative;
  float: right;
  width: 50%;
  padding-left: 140px;
}
.search label {
  position: absolute;
  top: 7px;
  left: 0;
  width: 140px;
  margin: 0;
  font-size: 1.1rem;
  z-index: 1080;
  font-weight: 400;
}
.search label .ss-icon {
  position: absolute;
  top: 2px;
  right: -32px;
}
.search input {
  padding: 9px;
  width: 100%;
  font-size: 0.85rem;
  display: block;
  border: 2px solid #a3a3a3;
  padding-left: 40px;
  font-weight: 300;
}
.search input:focus {
  border: 2px solid #37cca1;
  outline: none;
}
.search .search-input {
  display: inline-block;
  width: 100%;
}
.toc {
  display: block;
  position: relative;
  border-bottom: 2px solid #f8f8f8;
  background-color: #ffffff;
}
.toc.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.toc h2 {
  cursor: pointer;
  position: relative;
  display: block;
  color: #8b8b8b;
  margin: 0;
  padding: 0;
  padding: 25px 50px;
  font-size: 1rem;
}
.toc h2 .toggle {
  font-size: 0.85rem;
  color: #bbbbbb;
  display: block;
  position: absolute;
  top: 25px;
  right: 50px;
}
.toc h2 .toggle:hover {
  color: #37cca1;
}
.toc h2 .toggle:hover span {
  color: #37cca1;
}
.toc h2 .toggle span {
  padding-left: 5px;
  color: #bbbbbb;
}
.toc-items {
  background-color: #ffffff;
  display: block;
}
.toc-items:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.toc-items ul {
  width: 33%;
  float: left;
  padding: 0 0 50px 20px;
}
.toc-items ul li {
  list-style-type: square;
}
.toc-items ul li a {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #f76f4f;
}
.toc-items ul li a:hover,
.toc-items ul li a.active {
  font-weight: 400;
}
.toc-items ul li a:hover {
  color: #37cca1;
}
.toc-items ul li a.active {
  color: #8b8b8b;
}
.site-footer {
  display: block;
  background-color: #f8f8f8;
  padding: 50px 0;
  font-size: 0.85rem;
}
.site-footer:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.site-footer ul {
  width: 30%;
  display: block;
  float: left;
  list-style-type: none;
}
.site-footer ul:first-of-type {
  padding-left: 0;
}
.site-footer ul li:first-of-type {
  text-transform: uppercase;
  padding-bottom: 12.5px;
}
.site-footer ul li a {
  font-weight: normal;
  text-transform: none;
}
.site-footer .right {
  width: 40%;
  float: right;
  text-align: right;
}
button,
a.btn {
  border: 0;
  display: inline-block;
  color: #ffffff;
  cursor: pointer;
  padding: 15px 30px;
  text-transform: uppercase;
  background-color: #f76f4f;
  font-size: 0.9rem;
}
button:hover,
a.btn:hover {
  background-color: #8b8b8b;
}
button.btn-mini,
a.btn.btn-mini {
  padding: 7px 14px 7px 14px;
  font-size: 0.75rem;
  background-color: #8b8b8b;
}
button.btn-mini:hover,
a.btn.btn-mini:hover {
  background-color: #636363;
}
button.centered,
a.btn.centered {
  margin: 0 auto;
  display: block;
  width: auto;
}
.post {
  display: block;
  min-height: 250px;
  padding: 100px 0;
}
.post:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.post h1 {
  padding: 0 0 50px 0;
  margin: 0;
  line-height: 1.3;
}
.post h1 a {
  color: #f76f4f;
}
.post h1 a:hover {
  color: #636363;
}
.post h2,
.post h3,
.post h4 {
  color: #f76f4f;
  padding: 25px 0 12.5px 0;
  margin: 0;
}
.post h2 a,
.post h3 a,
.post h4 a {
  color: #f76f4f;
}
.post h2 a:hover,
.post h3 a:hover,
.post h4 a:hover {
  color: #636363;
}
.post .back {
  display: inline-block;
  font-size: 0.85rem;
  margin-bottom: 25px;
}
.post .back:hover span {
  color: #37cca1;
}
.post-content {
  display: block;
}
.post-content ul,
.post-content ol,
.post-content li,
.post-content blockquote,
.post-content p,
.post-content div,
.post-content b,
.post-content i {
  text-align: left;
}
.post-content ul strong,
.post-content ol strong,
.post-content li strong,
.post-content blockquote strong,
.post-content p strong,
.post-content div strong,
.post-content b strong,
.post-content i strong {
  font-weight: bold;
}
.post-content b {
  font-weight: bold;
}
.post-content p,
.post-content div {
  padding: 12.5px 0;
  margin: 0;
}
.post-content p.gist,
.post-content div.gist {
  padding: 0;
  margin: 0;
}
.post-content p.gist .gist-file,
.post-content div.gist .gist-file,
.post-content p.gist .gist-data,
.post-content div.gist .gist-data,
.post-content p.gist .gist-syntax,
.post-content div.gist .gist-syntax,
.post-content p.gist .file-data,
.post-content div.gist .file-data,
.post-content p.gist .line,
.post-content div.gist .line {
  padding: 0;
  margin: 0;
}
.post-content table {
  margin: 0;
  padding: 0;
}
.post-content blockquote {
  padding: 12.5px 25px;
  margin: 12.5px 0;
  border-left: 5px solid #e5e5e5;
}
.post-content ul {
  padding: 12.5px 0 18.75px;
  margin-left: 50px;
}
.post-content ul li {
  padding: 0;
  margin: 0;
  list-style-type: square;
}
.post-content ol {
  padding: 12.5px 0 18.75px;
  margin-left: 30px;
}
.post-content ol li {
  padding: 0;
  margin: 0;
  list-style-type: decimal;
}
.post-content h1 {
  padding-bottom: 25px;
}
.post-content h2,
.post-content h3 {
  padding-top: 25px;
}
.post-content img {
  max-width: 100%;
}
.post-content .mejs-container {
  margin-top: 12.5px;
}
.post-content ul,
.post-content ol,
.post-content li,
.post-content blockquote,
.post-content p,
.post-content div,
.post-content pre {
  font-size: 1.2rem;
  line-height: 2.04rem;
}
.post-content ul strong,
.post-content ol strong,
.post-content li strong,
.post-content blockquote strong,
.post-content p strong,
.post-content div strong,
.post-content pre strong {
  font-weight: 400;
}
.post-content pre {
  display: block;
  border: 1px solid #f8f8f8;
  font-family: 'courier', sans-serif;
  padding: 25px;
  color: #000;
  font-size: 1rem;
}
.post-content p,
.post-content div {
  padding: 12.5px 0;
  margin: 0;
}
.post-content p img,
.post-content div img {
  width: 100%;
}
.post-content p a,
.post-content div a {
  text-decoration: underline;
  color: #f76f4f;
}
.post-content p a:hover,
.post-content div a:hover {
  color: #636363;
}
.post-content p.gist,
.post-content div.gist {
  padding: 0;
  margin: 0;
}
.post-content p.gist .gist-file,
.post-content div.gist .gist-file,
.post-content p.gist .gist-data,
.post-content div.gist .gist-data,
.post-content p.gist .gist-syntax,
.post-content div.gist .gist-syntax,
.post-content p.gist .file-data,
.post-content div.gist .file-data,
.post-content p.gist .line,
.post-content div.gist .line {
  padding: 0;
  margin: 0;
}
.post-content blockquote {
  font-size: 1.4rem;
  border-left: 5px solid #f8f8f8;
  padding: 12.5px 50px;
  margin: 12.5px 0;
}
.post-content ul {
  padding: 12.5px 0;
  margin-left: 80px;
}
.post-content ul li {
  list-style-type: square;
}
.post-content ul li a {
  text-decoration: underline;
}
.post-content ol {
  padding: 12.5px 0;
  margin-left: 80px;
}
.post-content ol li {
  list-style-type: decimal;
}
.post-content ol li a {
  text-decoration: underline;
}
.post-comments {
  display: block;
  clear: both;
  padding: 25px 0 100px 0;
}
.post-footer {
  display: block;
  clear: both;
  padding-top: 50px;
}
.post-footer:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.post-footer .post-author {
  width: 50%;
  float: left;
  text-align: left;
}
.post-footer .post-author .post-author-avatar {
  display: block;
  float: left;
  width: 55px;
  height: 55px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.post-footer .post-author .post-author-avatar img {
  width: 55px;
  height: 55px;
}
.post-footer .post-author p {
  float: left;
  font-size: 0.85rem;
  padding: 4px 0 0 20px;
  margin: 0;
}
.post-footer .post-author p span {
  font-weight: bold;
}
.post-footer .post-author p span.post-date {
  color: #bbbbbb;
  font-weight: normal;
}
.post-footer .post-author p span.post-author-name {
  font-size: 1rem;
  font-weight: 400;
}
.post-footer .post-options {
  width: 50%;
  float: right;
  text-align: right;
  list-style-type: none;
}
.post-footer .post-options li {
  float: right;
  padding-left: 10px;
}
.post-footer .post-options li a {
  display: inline-block;
}
.post-footer .post-options li a i {
  position: relative;
  top: 2px;
  font-size: 1.125rem;
}
.post-footer .post-options li a .phrase {
  margin-left: 4px;
}
.post-footer .post-options li .options-label {
  display: inline-block;
  padding: 12.5px 10px 0 0;
  color: #bbbbbb;
  font-size: 0.85rem;
}
.posts {
  padding: 0;
}
.posts li {
  display: block;
  padding: 0 0 62.5px 0;
}
.posts li:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.posts h3 {
  position: relative;
  padding: 0 0 16.66666667px 0;
  margin: 0;
  color: #f76f4f;
}
.posts h3 a {
  color: #f76f4f;
}
.posts h3 a:hover {
  color: #37cca1;
}
.posts h3 .socialbar-like {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.85rem;
  color: #bbbbbb;
}
.posts h3 .socialbar-like:hover {
  color: #37cca1;
}
.posts h3 .socialbar-like:hover span {
  color: #37cca1;
}
.posts h3 .socialbar-like span {
  color: #bbbbbb;
}
.posts .post-author {
  width: 50%;
  float: left;
  text-align: left;
  padding-top: 12.5px;
}
.posts .post-author .post-author-avatar {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.posts .post-author .post-author-avatar img {
  width: 30px;
  height: 30px;
}
.posts .post-author p {
  float: left;
  font-size: 0.85rem;
  padding: 3px 0 0 20px;
  margin: 0;
}
.posts .post-author p span {
  font-weight: bold;
}
.posts .post-author p span.post-date {
  color: #bbbbbb;
  font-weight: normal;
}
.posts .post-author p span.post-author-name {
  font-size: 1rem;
  font-weight: 400;
}
.posts .post-options {
  padding-top: 12.5px;
  width: 50%;
  float: right;
  text-align: right;
  list-style-type: none;
}
.posts .post-options li {
  float: right;
  padding: 0 0 0 10px;
}
.posts .post-options li a {
  display: inline-block;
  font-size: 0.85rem;
}
.posts .post-options li a i {
  position: relative;
  top: 2px;
  font-size: 1rem;
}
.posts .post-options li a .phrase {
  margin-left: 4px;
}
.posts .post-options li .options-label {
  display: inline-block;
  padding: 12.5px 10px 0 0;
  color: #bbbbbb;
  font-size: 0.85rem;
}
.pagination {
  border-top: 2px solid #f8f8f8;
  padding: 25px 0;
  font-size: 0.85rem;
}
.pagination:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.pagination a {
  display: block;
  color: #bbbbbb;
}
.pagination a:hover {
  color: #37cca1;
}
.pagination a:hover span {
  color: #37cca1;
}
.pagination a span {
  color: #bbbbbb;
}
.pagination .prev {
  float: left;
  text-align: left;
}
.pagination .next {
  float: right;
  text-align: right;
}
@media (max-width: 59.9375em) {
  .col-1-3,
  .col-2-3,
  .col-1-2,
  .col-1-4,
  .col-3-4,
  .col-1-8 {
    width: 100%;
  }
  .site-header {
    padding: 25px;
    height: auto;
    text-align: center;
  }
  .logo,
  .search {
    float: none;
  }
  .logo {
    margin: 0 auto 25px;
  }
  .search {
    width: 100%;
    clear: both;
    float: none;
    padding-left: 0;
    text-align: center;
  }
  .search label {
    display: none;
  }
  .search input {
    text-align: center;
    padding-left: 0;
  }
  .search .search-input {
    width: 80%;
  }
  .site-footer {
    padding: 50px 0;
    text-align: center;
  }
  .site-footer ul {
    width: 100%;
    float: none;
    margin: 0;
    padding: 0;
  }
  .site-footer ul li:first-of-type {
    padding-bottom: 0;
  }
  .site-footer .right {
    width: 100%;
    float: none;
    text-align: center;
  }
  .toc-items {
    padding: 0 0 25px;
  }
  .toc-items ul {
    width: 100%;
    float: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .toc-items ul li {
    list-style-type: none;
  }
  .toc-items ul li a {
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }
}
